@import 'tailwindcss';
@import '@nuxt/ui';

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  src: url('/static/inter-variable.woff2') format('woff2');
  /* src: url('/static/inter-variable.ttf') format('ttf'); */
  font-display: swap;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

@media print {
  @page {
    margin: 0.5in;
  }

  html {
    font-size: 10pt;
  }

  body {
    background-color: white;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
  }
}
